<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-needer-kakao-sdk-v2" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>KakaoCordovaSDKV2</name>
    <js-module name="KakaoCordovaSDKV2" src="www/KakaoCordovaSDKV2.js">
        <clobbers target="KakaoCordovaSDK" />
    </js-module>
    <preference name="KAKAO_APP_KEY" />

    <hook type="after_prepare" src="hooks/postinstall.js" />
    <hook type="after_plugin_add" src="hooks/postinstall.js" />
    <hook type="after_platform_add" src="hooks/postinstall.js" />
    <platform name="ios">
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
        <config-file parent="/*" target="config.xml">
            <feature name="KakaoCordovaSDKV2">
                <param name="ios-package" value="KakaoCordovaSDKV2" />
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="KAKAO_APP_KEY">
            <string>$KAKAO_APP_KEY</string>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>kakao$KAKAO_APP_KEY</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>kakao$KAKAO_APP_KEY</string>
                <string>kakaokompassauth</string>
                <string>storykompassauth</string>
                <string>kakaolink</string>
                <string>storylink</string>
                <string>kakaotalk-5.9.7</string>
            </array>
        </config-file>

        <source-file src="src/ios/KakaoCordovaSDKV2.swift" />

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git" />
            </config>

            <pods  use-frameworks="true">
                <pod name="KakaoSDK" spec="2.14.0" />
                <pod name="Alamofire" spec="5.6.4" />
            </pods>
        </podspec>
        <framework src="KakaoSDK" type="podspec" spec="2.14.0"/>
        <framework src="Alamofire" type="podspec" spec="5.6.4" />
    </platform>
    <platform name="android">


        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="KakaoCordovaSDKV2">
                <param name="onload" value="true" />
                <param name="android-package" value="com.needer.plugin.kakao.KakaoCordovaSDKV2" />
            </feature>

            <access origin="https://*.kakao.com" />
            <access origin="https://*.kakao.co.kr" />
            <access origin="https://*.kakaocdn.net" />
        </config-file>


        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>


        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.kakao.sdk.AppKey" android:value="$KAKAO_APP_KEY" />
        </config-file>


        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity 
                android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
                android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="kakao$KAKAO_APP_KEY" android:host="oauth" />
            </intent-filter>
            </activity>
        </config-file>

        <framework src="src/android/kakao.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/KakaoCordovaSDKV2.kt"
            target-dir="app/src/main/kotlin/com/needer/plugin/kakao" />
    </platform>
</plugin>